[core]
    editor = /Applications/MacVim.app/Contents/MacOS/Vim
    autocrlf = input

[user]
    name = Phillip Lemons
    email = philliplemons512@gmail.com

[credential]
    helper = cache

[branch]
    # autosetupmerge auto-adds the --track flag to each git branch,
    # which is helpful for arc (part of Phabricator).  autosetuprebase
    # means that instead of merging it will rebase.  Weird you need both!
    autosetupmerge = always
    autosetuprebase = always

[alias]
    lg = log --graph --abbrev-commit --decorate --date=relative --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
    graph = log --graph --decorate --oneline --pretty=format:"%h%x20%Cgreen%d%x20%Cred%an%x20%Cblue%ad%x20%Creset%s" --all --full-history --date=short
    ls = log --oneline -5
	ls-ignored = ls-files --exclude-standard --ignored --others
    conflicts = diff --name-only --diff-filter=U

    # When merging use our version of the given files and forget about theirs
    ours = "!f() { git checkout --ours $@ && git add $@; }; f"

    # Other useful commands.
    outgoing = "!git fetch >/dev/null 2>&1; git log @{upstream}..HEAD"
    incoming = "!git fetch >/dev/null 2>&1; git log HEAD..@{upstream}"

    # For after a commit fails with lint, and it says 'commit message saved...'
    recommit = "!git commit -F \"`git rev-parse --git-dir`\"/commit.save"
	weekly = "!git log --author=$USER --since=`date -d last\\ monday +%Y/%m/%d`"

	# Abbreviations
    co = checkout
    p = pull
    m = merge
	st = status
	ci = commit

[push]
    default = simple

[diff]
	tool = vimdiff

  # Use mnemonic prefixes (index, work tree, commit, object) instead of the standard a and b notation
	mnemonicprefix = true

[push]
    default = simple

[merge]
	# Always show a diffstat at the end of a merge
	stat = true

