{{ if eq .chezmoi.os "darwin" -}}
#!/bin/sh

defaults write -g com.apple.mouse.scaling 4.0
defaults write -g KeyRepeat -int 1
defaults write com.apple.driver.AppleBluetoothMultitouch.mouse MouseButtonMode TwoButton
defaults import com.googlecode.iterm2 {{ .chezmoi.sourceDir }}/iterm_profile.plist
{{ end -}}
